@tailwind base;
@tailwind components;
@tailwind utilities;

<<<<<<<< HEAD:wittyfrontend2/src/styles/index.css
========



>>>>>>>> df06073d404908c3fe83106bb23589b7246c11fb:wittyfrontend2/src/components/index.css
